# Environment variables for development
# Copy this file to .env and customize values per machine.

VITE_BASE_URL=http://slugs-n-shots.test/api/
VITE_APP_NAME=Slugs'n'Shots
VITE_CURRENCY=Ft
VITE_DEFAULT_LANG=hu

# Optional overrides
#VITE_GUEST_SERVER_URL=http://slugs-n-shots.test/api/guest/
#VITE_STAFF_SERVER_URL=http://slugs-n-shots.test/api/staff/
#VITE_GUEST_THEME=0
#VITE_STAFF_THEME=1
#VITE_STAFF_SIDEBAR_OPENED=true
